.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 260px;
  background-color: #005bb5; // Fondo azul oscuro profesional
  padding: 1.5rem;
  color: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);

  .sidebar-content {
    .menu {
      list-style: none;
      padding: 0;
      margin: 0;

      .menu-item {
        margin: 1.2rem 0;
        font-size: 1.2rem;
        cursor: pointer;
        color: #ffffff;
        padding: 0.8rem 1rem;
        border-radius: 6px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #0073e6; // Fondo de hover
          color: #ffda79;
        }

        &.notifications {
          position: relative;
          display: flex;
          align-items: center;

          .bell-icon {
            margin-right: 0.6rem;
            font-size: 1.6rem;
            transition: color 0.3s;
          }

          .bell-icon.active {
            color: #ffda79;
            animation: shake 0.7s ease-in-out infinite alternate;
          }
        }
      }
    }
  }

  .logout-container {
    display: flex;
    justify-content: center;

    .logout-button {
      width: 100%;
      padding: 0.8rem;
      font-size: 1rem;
      color: #ffffff;
      background-color: #d9534f;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #c9302c;
      }
    }
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(2px); }
}
